@model CommentViewModel

<form asp-controller="Comments" asp-action="@this.ViewData["Action"]" method="post">

	    <label asp-for="Content" class="form-label"></label>
		<br />
	   	<textarea asp-for="Content"  name="Content" style="width: 600px; height: 100px;"></textarea>
		<br />
		<span asp-validation-for="Content" class="form-error"></span>
	    <br />
	    
		<button type="submit" class="btn btn-warning">@this.ViewData["ButtonText"]</button>
	<a asp-controller="Comments" asp-action="Index" asp-route-PostId="@this.ViewData["PostId"]" class="btn btn-primary">Back @this.ViewData["PostId"]</a>
</form>