@model CommentCreateViewModel

<head>
	<meta charset="utf-8" />
	<title>Edit a comment</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>

@{
	this.ViewData["Action"] = "Edit";
	this.ViewData["ButtonText"] = "Save";
	this.ViewData["NameVisibility"] = "name-visible";
}
<body>
	<h2>Edit a comment</h2>
	@{
		if (ViewData["ErrorMessage"] != null)
		{
			<h3><p>@ViewData["ErrorMessage"]</p></h3>
		}
	}
	<form asp-controller="Comments" asp-action="@this.ViewData["Action"]" method="post">

		<label asp-for="Content" class="form-label"></label>
		<br />
		<input asp-for="Content" type="text" class="form-input" />
		<br />
		<span asp-validation-for="Content" class="form-error"></span>
		<br />
		<label asp-for="PostId" class="form-label"></label>
		<br />
		<input asp-for="PostId" type="text" class="form-input" />
		<br />
		<span asp-validation-for="PostId" class="form-error"></span>
		<br />
		<input type="submit" value="@this.ViewData["ButtonText"]" class="btn-primary" />
	</form>
</body>
