@model Category

<head>
	<meta charset="utf-8" />
	<title>Delete</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

	<div class="body-content">
		<h2>Are you sure you want to delete the category: <b>@this.Model.Name</b>?</h2>

		<form asp-controller="Categories" asp-action="Delete" method="post">
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
		</form>
		
	</div>

</body>
