@{
    this.ViewData["Title"] = "World Travel Forum - About";
}
<body>
    <h3 class="text-center">
        Forum management System
    </h3>
    <h3 class="text-center">(Version 8T2023)</h3>
    <br>
    <h3 class="text-center">Produced by: </h3>
    <br/><br/>
    <table class="table-responsive">
        <table class="table table-bordered table-condensed table-hover">
            <thead class="table-dark">
                <tr>
                    <th class="text-center"> 
                        <img src="~/Images/marina.jpg" alt="Menu" class="rounded-circle" style="width: 30px; height: 30px;" />
                        <span style="margin-right:5%"></span> 
                        Marina Toncheva
                    </th>
                    <th class="text-center">
                        <img src="~/Images/kris.jpg" alt="Menu" class="rounded-circle" style="width: 30px; height: 30px;" />
                        <span style="margin-right:5%"></span>
                        Kristian Vaklev</th>
                    <th class="text-center">
                        <img src="~/Images/evelina.jpg" alt="Menu" class="rounded-circle" style="width: 30px; height: 30px;" />
                        <span style="margin-right:5%"></span>
                        Evelina Hristova</th>
                </tr>
            </thead>
            
        </table>
        <br/><br/>
        <h3 class="text-center">Thank you for your attention!</h3>
</body>
