@{
	this.ViewData["Title"] = "UnauthorizedError";
}

<h2 class="label-error">Sorry you are not authorized :(</h2>
<p>
	Status Code: @this.Context.Response.StatusCode<br />
	 
	
	@{
		if (ViewData["ErrorMessage"] != null)
		{

			<p class="text-danger">Message: @ViewData["ErrorMessage"]</p>
		}
	}
	
</p>
