@model UserViewModel

<head>
	<meta charset="utf-8" />
	<title>New Registration</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>

@{
	this.ViewData["Action"] = "Create";
	this.ViewData["ButtonText"] = "Register";
	this.ViewData["NameVisibility"] = "name-visible";
}
<body>
	<h2>Registration form</h2>
	@{
		if (ViewData["ErrorMessage"]!=null)
		{
			<h3><p>@ViewData["ErrorMessage"]</p></h3>
		}
	}
	<partial name="_UserForm"/>
</body>



