@model User

@{
	this.ViewData["Title"] = "World Travel Forum - Delete User";
}

<body>
	<div class="body-content">
		<h2>Delete <b>@this.Model.Username</b>?</h2>

	<form asp-controller="Users" asp-action="Delete" method="post">
		<input type="submit" value="Delete" class="btn-danger" />
	</form>
		<a asp-controller="Users" asp-action="Index" class="nav">Back</a>
		</div>
</body>
