@model PostViewModel

@{
	this.ViewData["Title"] = "World Travel Forum - Create Post";
}

@{
	this.ViewData["Action"] = "Create";
	this.ViewData["ButtonText"] = "Create";
	this.ViewData["NameVisibility"] = "name-visible";
}

	<h2>Create a new post</h2>

	<partial name="_PostForm"/>

