@model PostViewModel

@{
	this.ViewData["Title"] = "World Travel Forum - Edit Post";
}

	@{
		this.ViewData["Action"] = "Edit";
		this.ViewData["ButtonText"] = "Save changes";
		this.ViewData["NameVisibility"] = "name-hidden";
	}

	<h2>Edit information</h2>

	<partial name="_PostForm" />